@font-face {
    font-family: 'KBIZHanmaumGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KBIZHanmaumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EAEAEA;
    font-family: 'KBIZHanmaumGothic';
}

.flip {
    width: 60px;
    height: 30px;
    font-size: 13px;
    letter-spacing: 0.52px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    text-align: center;
    position: relative;
    left: 20px;
    padding-top: 11px;
    margin: 10px 0 10px 0;
}

#flip_1 {background-color: #FFFFFF; color: #003277;}
#flip_2 {background-color: #C7DEFF; color: #003277;}
#flip_3 {background-color: #8EBBFC; color: #003277;}
#flip_4 {background-color: #4D87D9; color: #FFFFFF;}
#flip_5 {background-color: #1B58AD; color: #FFFFFF;}
#flip_6 {background-color: #003277; color: #FFFFFF;}

.fade {
    width: 600px;
    height: auto;

    background-color: #FFFFFF;

    position: relative;
    left: 80px;
    top: -306px;
    margin-right: 20px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    display: none;

    padding-bottom: 50px;
}

video {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_title {
    font-size: 16px;
    color: #003277;
    text-align: center;

    position: relative;
    margin: auto;
    width: 300px;
}

.text {
    font-size: 14px;
    color: #003277;
    
    position: relative;
    left: 210px;
    top: -190px;
    width: 190px;

    overflow-y: auto;
}

audio {
    z-index: 2;

    position: relative;
    width: 190px;
    height: 20px;
    left: 0px;
    top: 10px;
}

#content {
    width: 700px;
    position: relative;
    margin: auto;
}

@media (max-width: 699px) {
    .text_title {width: 43vw;}
    .text {width: 29vw; left: 32vw; top: -29vw; height: 28vw;}
    audio {width: 29vw;}
    .fade {width: calc(100% - 100px);}
    #content {width: 100%;}
}

#back {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50px;
    background-color: #003277;
    color: #FFFFFF;
}

a {text-decoration-line: none;}
a:link {color: #006577;}
a:visited {color: #006577;}
a:hover {color: #003277;}

h1 {
    position: relative;
    margin: 25px auto 25px auto;
    text-align: center;
}