<!DOCTYPE html>

<html lang="ko">
    <head>
        <!--문자 인코딩 방식 : 유니코드-->
        <meta charset="UTF-8">
        <!--반응형 웹 디자인을 위한 초기 화면비 설정-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Portfolio: 구름별조각</title>

        <link href="../static/css/common.css" rel="stylesheet">
        <link href="../static/css/player.css" rel="stylesheet">
        <link href="../static/css/mindRoom.css" rel="stylesheet">

        <!--Site Description과 Thumbnail-->
        <meta property="og:title" content="Portfolio: Cloud-Star-Piece">
        <meta property="og:description" content="음악을 만들고, 이야기를 노래합니다.">
        <meta property="og:site_name" content="구름별조각의 포트폴리오">
    </head>

    <body>
        <h1>Project: Mind Room</h1>
        <a href="../index.html">
            <div class="flip" id="back">뒤로</div>
        </a>
        <div id="mindRoom">
            <div class="text_title" id="mr_title">
                <span style="font-weight: bold; font-size: 20px;">마음의 방 심리테스트</span>
                <br><br>2020. 12. 08.
                <br><a href="https://mind-room.syeon.studio/" target="_blank">https://mind-room.syeon.studio/</a>
                <br><br><span style="font-weight: bold; font-size: 14px;">Syeon</span>
                <br>기획, 문항구성, 글,
                <br>일러스트, 디자인, 사운드
                <br><br><span style="font-weight: bold; font-size: 14px;">Myn</span>
                <br>사운드
                <br><br><span style="font-weight: bold; font-size: 14px;">Enif</span>
                <br>개발
                <br>(<a href="https://github.com/KYJ-Enif">Github Profile</a>)
            </div>

            <div class="mov_big_box" id="mr_0">
                <div class="mov_big" id="title">
                    <img src="../static/media/picture/mindRoom_title.png">
                    <audio controls preload="metadata" id="titleMusic">
                        <source src="../static/media/music/bgm_4_Mind Room_intro.mp3">
                    </audio>
                </div>
                <div class="text_title" id="title_title">
                    <span style="font-weight: bold; font-size: 14px;">Mind Room Test</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Piano
                </div>
            </div>

            <div class="mov_big_box" id="mr_1">
                <div class="mov_big" id="colorful">
                    <video controls preload="metadata" id="mov_colorful">
                        <source src="../static/media/video/colorful garden.mp4">
                        이 브라우저에서는 동영상이 재생되지 않습니다.
                    </video>
                </div>
                <div class="text_title" id="title_colorful">
                    <span style="font-weight: bold; font-size: 14px;">1/8 - Colorful Garden</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Harp
                </div>
            </div>

            <div class="mov_big_box" id="mr_2">
                <div class="mov_big" id="yellow">
                    <video controls preload="metadata" id="mov_yellow">
                        <source src="../static/media/video/yellow.mp4" type="video/mp4">
                        이 브라우저에서는 동영상이 재생되지 않습니다.
                    </video>
                </div>
                <div class="text_title" id="title_yellow">
                    <span style="font-weight: bold; font-size: 14px;">2/8 - Yellow</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Glockenspiel
                </div>
            </div>

            <div class="mov_big_box" id="mr_3">
                <div class="mov_big" id="orange">
                    <video controls preload="metadata" id="mov_orange">
                        <source src="../static/media/video/orange.mp4" type="video/mp4">
                        이 브라우저에서는 동영상이 재생되지 않습니다.
                    </video>
                </div>
                <div class="text_title" id="title_orange">
                    <span style="font-weight: bold; font-size: 14px;">3/8 - Orange</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Glockenspiel
                </div>
            </div>

            <div class="mov_big_box" id="mr_4">
                <div class="mov_big" id="green">
                    <video controls preload="metadata" id="mov_green">
                        <source src="../static/media/video/green.mp4" type="video/mp4">
                        이 브라우저에서는 동영상이 재생되지 않습니다.
                    </video>
                </div>
                <div class="text_title" id="title_green">
                    <span style="font-weight: bold; font-size: 14px;">4/8 - Green</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Piano
                </div>
            </div>

            <div class="mov_big_box" id="mr_5">
                <div class="mov_big" id="skyBlue">
                    <video controls preload="metadata" id="mov_skyBlue">
                        <source src="../static/media/video/sky.mp4" type="video/mp4">
                        이 브라우저에서는 동영상이 재생되지 않습니다.
                    </video>
                </div>
                <div class="text_title" id="title_skyBlue">
                    <span style="font-weight: bold; font-size: 14px;">5/8 - Sky Blue</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Harp
                </div>
            </div>

            <div class="mov_big_box" id="mr_6">
                <div class="mov_big" id="navyGold">
                    <video controls preload="metadata" id="mov_navyGold">
                        <source src="../static/media/video/navy.mp4" type="video/mp4">
                        이 브라우저에서는 동영상이 재생되지 않습니다.
                    </video>
                </div>
                <div class="text_title" id="title_navyGold">
                    <span style="font-weight: bold; font-size: 14px;">6/8 - Navy & Gold</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Harp
                </div>
            </div>

            <div class="mov_big_box" id="mr_7">
                <div class="mov_big" id="brown">
                    <video controls preload="metadata" id="mov_brown">
                        <source src="../static/media/video/brown.mp4" type="video/mp4">
                        이 브라우저에서는 동영상이 재생되지 않습니다.
                    </video>
                </div>
                <div class="text_title" id="title_brown">
                    <span style="font-weight: bold; font-size: 14px;">7/8 - Brown</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Glockenspiel
                </div>
            </div>

            <div class="mov_big_box" id="mr_8">
                <div class="mov_big" id="pinkPurple">
                    <video controls preload="metadata" id="mov_pinkPurple">
                        <source src="../static/media/video/pink.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="text_title" id="title_pinkPurple">
                    <span style="font-weight: bold; font-size: 14px;">8/8 - Pink & Purple</span>
                    <br><br>watercolor, colorpencil,
                    <br>photoshop drawing, motion graphics,
                    <br>sound, Piano
                </div>
            </div>
        </div>
    </body>

</html>