<!DOCTYPE html>

<html lang="ko">
    <head>
        <!--문자 인코딩 방식 : 유니코드-->
        <meta charset="UTF-8">
        <!--반응형 웹 디자인을 위한 초기 화면비 설정-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Portfolio: 구름별조각</title>

        <link href="../static/css/common.css" rel="stylesheet">
        <link href="../static/css/player.css" rel="stylesheet">
        <link href="../static/css/snumental.css" rel="stylesheet">

        <!--Site Description과 Thumbnail-->
        <meta property="og:title" content="Portfolio: Cloud-Star-Piece">
        <meta property="og:description" content="음악을 만들고, 이야기를 노래합니다.">
        <meta property="og:site_name" content="구름별조각의 포트폴리오">

        <meta property="og:image" content="https://raw.githubusercontent.com/SeHaan/pf_cloudStarPiece/main/static/media/picture/KakaoTalk_20201107_131514897.jpg">
        <meta property="og:image:width" content="200">
        <meta property="og:image:height" content="200">
    </head>

    <body>
        <h1>
            Project: SNUmentalcare
            <br><span style="font-size: smaller; font-style: italic;">Myn</span>
        </h1>
        <a href="../index.html">
            <div class="flip" id="back">뒤로</div>
        </a>
        <div id="snumental">

            <div class="text_title" id="snu_title">
                <span style="font-weight: bold; font-size: 20px;">학심단 온라인 프로젝트</span>
                <br><br>2020년 2학기 ~ 2021년 1학기
                <br><br>서울대학교 대학생활문화원
                <br>역량개발부 산하 학생단체
                <br>학생심리건강지원단
                <br><br><span style="font-weight: bold; font-size: 14px;">Myn</span>
                <br>학생심리건강지원단 8기 ~ 12기
                <br>개발총괄 및 배경음악 담당
            </div>

            <div class="mov_big_box" id="snumental_1">
                <div class="mov_big" id="snumental_20_2">
                    <img src="../static/media/picture/bgm_shining_dream.png">
                    <audio controls preload="metadata" id="music_20_2">
                        <source src="../static/media/music/bgm_3_SNUmentalcare_Shining Dream.mp3">
                    </audio>
                </div>
                <div class="text_title" id="title_20_2">
                    <span style="font-weight: bold; font-size: 14px;">Shining Dream</span>
                    <br><br>2020년 2학기 (11기) 프로젝트
                    <br>자기결정성 이론 기반<br>기본심리욕구 테스트
                    <br><a href="https://snumentalcare.github.io/snumentalhealth_20_2/" target="_blank">"몽실몽실 나의 구름 이야기"</a>
                    <br><br>Cover Design by Into
                    <br>Insta <a href="https://www.instagram.com/c_de.sigh_is/" target="_blank">@c_de.sigh_is</a>
                </div>
            </div>

            <div class="mov_big_box" id="snumental_2">
                <div class="mov_big" id="snumental_21_0">
                    <img src="../static/media/picture/bgm_snumental_intro.png">
                    <audio controls preload="metadata" id="music_21_1_0">
                        <source src="../static/media/music/bgm_5_SNUmentalcare_1_intro.mp3">
                    </audio>
                </div>
                <div class="text_title" id="title_21_1_0">
                    <span style="font-weight: bold; font-size: 14px;">Blossom</span>
                    <br><br>2021년 1학기 (12기) 프로젝트
                    <br>학심단 온라인 부스
                    <br><a href="https://snumental.pythonanywhere.com/project_21_1/" target="_blank">"꽃망울<br>: 당신의 이야기가 피어날 수 있게"</a>
                    <br><br>Cover Design by Jiyoon Kim
                </div>
            </div>

            <div class="mov_big_box" id="snumental_3">
                <div class="mov_big" id="snumental_21_1">
                    <img src="../static/media/picture/bgm_snumental_act1.png">
                    <audio controls preload="metadata" id="music_21_1_1">
                        <source src="../static/media/music/bgm_5_SNUmentalcare_2_act1.mp3">
                    </audio>
                </div>
                <div class="text_title" id="title_21_1_1">
                    <span style="font-weight: bold; font-size: 14px;">Flipped Note</span>
                    <br><br>2021년 1학기 (12기) 프로젝트
                    <br>학심단 온라인 부스
                    <br><a href="https://snumental.pythonanywhere.com/project_21_1/" target="_blank">"꽃망울<br>: 당신의 이야기가 피어날 수 있게"</a>
                    <br><br>Cover Design by Into
                    <br>Insta <a href="https://www.instagram.com/c_de.sigh_is/" target="_blank">@c_de.sigh_is</a>
                </div>
            </div>

            <div class="mov_big_box" id="snumental_4">
                <div class="mov_big" id="snumental_21_2">
                    <img src="../static/media/picture/bgm_snumental_act2.png">
                    <audio controls preload="metadata" id="music_21_1_2">
                        <source src="../static/media/music/bgm_5_SNUmentalcare_3_act2.mp3">
                    </audio>
                </div>
                <div class="text_title" id="title_21_1_2">
                    <span style="font-weight: bold; font-size: 14px;">a Cup of Drink</span>
                    <br><br>2021년 1학기 (12기) 프로젝트
                    <br>학심단 온라인 부스
                    <br><a href="https://snumental.pythonanywhere.com/project_21_1/" target="_blank">"꽃망울<br>: 당신의 이야기가 피어날 수 있게"</a>
                    <br><br>Cover Design by Into
                    <br>Insta <a href="https://www.instagram.com/c_de.sigh_is/" target="_blank">@c_de.sigh_is</a>
                </div>
            </div>

            <div class="mov_big_box" id="snumental_5">
                <div class="mov_big" id="snumental_21_3">
                    <img src="../static/media/picture/bgm_snumental_act3.png">
                    <audio controls preload="metadata" id="music_21_1_3">
                        <source src="../static/media/music/bgm_5_SNUmentalcare_4_act3.mp3">
                    </audio>
                </div>
                <div class="text_title" id="title_21_1_3">
                    <span style="font-weight: bold; font-size: 14px;">New Hope</span>
                    <br><br>2021년 1학기 (12기) 프로젝트
                    <br>학심단 온라인 부스
                    <br><a href="https://snumental.pythonanywhere.com/project_21_1/" target="_blank">"꽃망울<br>: 당신의 이야기가 피어날 수 있게"</a>
                    <br><br>Cover Design by Into
                    <br>Insta <a href="https://www.instagram.com/c_de.sigh_is/">@c_de.sigh_is</a>
                </div>
            </div>
        </div>
    </body>

</html>